CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7620=y
CONFIG_TARGET_ramips_mt7620_DEVICE_xiaomi_miwifi-mini=y
CONFIG_KERNEL_BUILD_DOMAIN="20100010"
CONFIG_KERNEL_BUILD_USER="FK"
CONFIG_PACKAGE_jansson=y
CONFIG_PACKAGE_kmod-mii=y
CONFIG_PACKAGE_kmod-oui-bwm=y
CONFIG_PACKAGE_kmod-usb-net=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ether=y
CONFIG_PACKAGE_kmod-usb-net-rndis=y
CONFIG_PACKAGE_libev=y
CONFIG_PACKAGE_liblua=y
CONFIG_PACKAGE_librt=y
CONFIG_PACKAGE_libubox-lua=y
CONFIG_PACKAGE_libubus-lua=y
CONFIG_PACKAGE_libuci-lua=y
CONFIG_PACKAGE_libuhttpd-nossl=y
CONFIG_PACKAGE_libusb-1.0=y
CONFIG_PACKAGE_lua=y
CONFIG_PACKAGE_oui-app-admin=y
CONFIG_PACKAGE_oui-app-diagnostics=y
CONFIG_PACKAGE_oui-app-firewall=y
CONFIG_PACKAGE_oui-app-home=y
CONFIG_PACKAGE_oui-app-interfaces=y
CONFIG_PACKAGE_oui-app-login=y
CONFIG_PACKAGE_oui-app-system=y
CONFIG_PACKAGE_oui-app-upgrade=y
CONFIG_PACKAGE_oui-app-wireless=y
CONFIG_PACKAGE_oui-app-wizard=y
CONFIG_PACKAGE_oui-bwm=y
CONFIG_PACKAGE_oui-httpd=y
CONFIG_PACKAGE_oui-ui-core=y
CONFIG_PACKAGE_usbutils=y
